.Button {
      color: white;
      background-color: #3b0ddf;
      font-size: 1.3rem;
      padding: 0.8rem;
      border-radius: 0.5rem;
      font-weight: bolder;
      border: rgba(104, 119, 255);
      box-shadow: 0 0 2px 1px dodgerblue;
      a {
            text-decoration: none;
            color: inherit;
      }
}